<router-outlet>
  <div class="container mt-5">
      <form (ngSubmit)="addContact()">
        <div></div>
          <div class="form-group">
              <label for="firstName">Prénom:</label>
              <input type="text" class="form-control" id="firstName" [(ngModel)]="contact.firstName" name="firstName" required>
          </div>
          <div class="form-group">
              <label for="lastName">Nom:</label>
              <input type="text" class="form-control" id="lastName" [(ngModel)]="contact.lastName" name="lastName" required>
          </div>
          <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="contact.email" name="email" required>
          </div>
          <div class="form-group">
              <label for="street">Rue:</label>
              <input type="text" class="form-control" id="street" [(ngModel)]="contact.address.street" name="street" required>
          </div>
          <div class="form-group">
              <label for="city">Ville:</label>
              <input type="text" class="form-control" id="city" [(ngModel)]="contact.address.city" name="city" required>
          </div>
          <div class="form-group">
              <label for="zip">Code postal:</label>
              <input type="text" class="form-control" id="zip" [(ngModel)]="contact.address.zip" name="zip" required>
          </div>
          <div class="form-group">
              <label for="country">Pays:</label>
              <input type="text" class="form-control" id="country" [(ngModel)]="contact.address.country" name="country" required>
          </div>
          <div class="form-group">
              <label for="fixePhoneNumber">Téléphone Fixe:</label>
              <input type="text" class="form-control" id="fixePhoneNumber" [(ngModel)]="contact.phones[0].phoneNumber" name="fixePhoneNumber" required>
          </div>
          <div class="form-group">
              <label for="mobilePhoneNumber">Téléphone Mobile:</label>
              <input type="text" class="form-control" id="mobilePhoneNumber" [(ngModel)]="contact.phones[1].phoneNumber" name="mobilePhoneNumber" required>
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary">Ajouter le contact</button>
          </div>
      </form>
  </div>
</router-outlet>
